/* Google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Commmon styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}
.half-width {
    width: 50%;
}
.button {
    width: 168px;
    height: 44px;
    position: relative;
    left: 156px;
    top: 260px;
}
.button a {
    text-decoration: none;
    background-color: #e02c6d;
    color: white;
    font-weight: 500px;
    font-size: 16px;
    padding: 10px 24px;
}
.button a:hover {
    border-radius: 5px;
    background-color: tomato;
    transition: background-color 2s ease-in-out, border-radius 2s ease-in-out;
}
.button a:hover i {
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}
.fa-arrow-right {
    width: 24px;
    height: 24px;
    padding-left: 8px;
}
/* Welcome-page-styles */
.welcome-page {
    width: 1440px;
    height: 677px;
    background-color: #2d25a0;
    display: flex;
    margin-bottom: 10px;
}
.welcome-page:hover {
    background-color: #514aac;
    transition: background-color 2s ease-in-out;
}
.intro {
    position: relative;
    top: 180px;
    left: 156px;
    width: 485px;
    height: 230px;
}
.intro h1 {
    font-size: 64px;
    font-weight: 700px;
    color: white;
    margin-top: 0px;
    margin-bottom: 30px;
}
.intro h1:hover {
    color: black;
    transition: color 2s ease-in-out;
}
.banner img {
    position: absolute;
    top: 153px;
    right: 60px;
    width: 556px;
    height: 438px;
}
/* Players profile styles */
.player-profile {
    justify-content: center;
    align-items: center;
}
.players {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
    margin-left: 195px;
}
.player {
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 20px grey;
    padding: 10px 15px;
}
.player .player-image img {
    width: 300px;
    height: 256px;
}
.player-details h1 {
    font-weight: bolder;
    font-size: 28px;
    color: #18191f;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-details p {
    font-size: 16px;
    color: #6c6c6c;
    margin-top: 0px;
    margin-bottom: 33px;
}
