/* Google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Commmon styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}
main {
    margin-bottom: 50px;
}
.half-width {
    width: 50%;
}
.button {
    width: 168px;
    height: 44px;
    position: relative;
    left: 156px;
    top: 240px;
}
.button a {
    text-decoration: none;
    background-color: #e02c6d;
    color: white;
    font-weight: 500px;
    font-size: 16px;
    padding: 10px 24px;
}
.button a:hover {
    border-radius: 5px;
    background-color: tomato;
    transition: background-color 2s ease-in-out, border-radius 2s ease-in-out;
}
.button a:hover i {
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}
.fa-arrow-right {
    width: 24px;
    height: 24px;
    padding-left: 8px;
}
/* Welcome-page-styles */
.welcome-page {
    width: 1440px;
    height: 677px;
    background-color: #2d25a0;
    display: flex;
    margin-bottom: 10px;
}
.welcome-page:hover {
    background-color: #514aac;
    transition: background-color 2s ease-in-out;
}
.intro {
    position: relative;
    top: 180px;
    left: 156px;
    width: 485px;
    height: 230px;
}
.intro h1 {
    font-size: 64px;
    font-weight: 700px;
    line-height: 80px;
    color: white;
    margin-top: 0px;
    margin-bottom: 30px;
}
.intro h1:hover {
    color: black;
    transition: color 2s ease-in-out;
}
.banner img {
    position: absolute;
    top: 153px;
    right: 60px;
    width: 556px;
    height: 438px;
}
/* Players profile styles */
/* .player-profile {
    justify-content: center;
    align-items: center;
} */
.players {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
    margin-left: 195px;
}
.player {
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 20px grey;
    padding: 10px 15px;
}
.player .player-image img {
    width: 300px;
    height: 256px;
}
.player-details h1 {
    font-weight: bolder;
    font-size: 28px;
    color: #18191f;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-details p {
    font-size: 16px;
    color: #6c6c6c;
    margin-top: 0px;
    margin-bottom: 33px;
}

/* Female-players-styles */
.top-female {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px indianred;
    margin: 50px;
}
.top-female h1 {
    color: indianred;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}
.female-players {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
    margin-left: 60px;
}
.fem-player {
    width: 300px;
    box-shadow: 5px 5px 20px grey;
    border-radius: 10px;
    padding: 10px 10px;
}
.fem-player img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.fem-player h2 {
    color: salmon;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* table tyles */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

/* top-news styles */
.tops-news {
    width: 1440px;
}
.top-news h1 {
    width: 1440px;
    color: indianred;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}
.all-news {
    width: 1050px;
    display: flex;
    margin-top: 70px;
    margin-left: 195px;
    justify-content: space-evenly;
}
.news {
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 20px grey;
    border-radius: 10px;
    padding: 10px 15px;
}
.news .news-image img {
    width: 300px;
    height: 256px;
    border-radius: 10px;
}
.news-details h2 {
    font-weight: bolder;
    font-size: 25px;
    color: #18191f;
    margin-top: 16px;
    margin-bottom: 10px;
}
.fa-clock {
    font-size: 20px;
}
/* footer styles */
footer {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.logo img {
    width: 483.87px;
    height: 110px;
}
.fab {
    width: 32px;
    height: 32px;
    color: grey;
}

/* Media-Queries */
/* Mobile responsive */
@media only screen and (max-width: 688px) {
    /* welcome-page */
    .welcome-page {
        width: 360px;
        height: 695px;
        margin-bottom: 47px;
    }
    .intro {
        position: relative;
        top: 112px;
        left: 16px;
        width: 278px;
        height: 138px;
    }
    .intro h1 {
        font-size: 36px;
        font-weight: bold;
        line-height: 50px;
        margin-bottom: 0px;
    }
    .button {
        position: absolute;
        left: 19px;
        top: 280px;
    }
    .banner img {
        position: absolute;
        top: 374px;
        left: 15px;
        width: 329px;
        height: 259px;
    }
    /* players-profile */
    .players {
        width: 360px;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .player {
        margin-left: 15px;
        margin-right: 15px;
    }
    /* female-profile */
    .top-female {
        width: 92%;
        border-radius: 10px;
        box-shadow: 5px 5px 30px indianred;
        margin: 0px 15px;
    }
    .female-players {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        margin-left: 15px;
    }
    .fem-player {
        width: 280px;
        margin-bottom: 20px;
    }
    .fem-player img {
        width: 280px;
    }
    /* top-news */
    .tops-news {
        width: 100%;
    }
    .top-news h1 {
        width: 100%;
    }
    .all-news {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 15px;
    }
    .news {
        margin-bottom: 20px;
    }
    /* footer styles */
    footer {
        width: 100%;
    }
    .logo img {
        width: 280px;
        height: 80px;
    }
}
/* Ipad responsive */
@media only screen and (min-width: 688px) and (max-width: 1024px) {
    /* welcome-page */
    .welcome-page {
        width: 100%;
        height: 650px;
        margin-bottom: 47px;
    }
    .intro {
        position: relative;
        top: 200px;
        left: 50px;
        width: 278px;
        height: 138px;
    }
    .intro h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .button {
        position: absolute;
        left: 50px;
        top: 450px;
    }
    .banner img {
        position: absolute;
        top: 200px;
        left: 400px;
        width: 329px;
        height: 259px;
    }
    /* players-profile */
    .players {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 15px;
    }
    .player {
        margin-left: 15px;
        margin-right: 15px;
    }
    /* female-profile */
    .top-female {
        width: 94%;
        border-radius: 10px;
        box-shadow: 5px 5px 30px indianred;
        margin: 0px 30px;
    }
    .female-players {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5px;
        margin-left: 30px;
    }
    .fem-player {
        width: 280px;
        margin-bottom: 20px;
    }
    .fem-player img {
        width: 280px;
    }
    /* top-news */
    .tops-news {
        width: 100%;
    }
    .top-news h1 {
        width: 100%;
    }
    .all-news {
        width: 100%;
        display: flex;
        margin-top: 50px;
        margin-left: 0px;
    }
    .news {
        margin-bottom: 20px;
    }
    /* footer styles */
    footer {
        width: 100%;
    }
    .logo img {
        width: 280px;
        height: 80px;
    }
}
