/* Google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Commmon styles */
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}
main {
    margin-bottom: 50px;
}
.half-width {
    width: 50%;
}
.button {
    position: relative;
    top: 40px;
}
.button a {
    text-decoration: none;
    background-color: #e02c6d;
    color: white;
    font-weight: 500px;
    font-size: 16px;
    padding: 10px 24px;
}
.button a:hover {
    border-radius: 5px;
    background-color: tomato;
    transition: background-color 2s ease-in-out, border-radius 2s ease-in-out;
}
.button a:hover i {
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}
.fa-arrow-right {
    width: 24px;
    height: 24px;
    padding-left: 8px;
}
/* Welcome-page-styles */
.welcome-page {
    display: flex;
    width: 100%;
    height: 677px;
    background-color: #2d25a0;
    margin-bottom: 10px;
}
.welcome-page:hover {
    background-color: #514aac;
    transition: background-color 2s ease-in-out 0.3s;
}
.welcome-page:hover .banner img {
    transform: rotate(25deg);
    transition: transform 2s ease-in-out;
}
.welcome-intro {
    position: relative;
    top: 180px;
    left: 150px;
}
.intro {
    width: 60%;
}
.intro h1 {
    font-size: 64px;
    font-weight: 700px;
    line-height: 80px;
    color: white;
    margin: 0;
}
.intro h1:hover {
    color: black;
    transition: color 2s ease-in-out;
}
.banner img {
    position: relative;
    top: 100px;
    width: 90%;
}
/* Players profile styles */
.players-profile {
    display: flex;
    justify-content: center;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 50px;
}
.player {
    width: 330px;
    height: 474px;
    box-shadow: 2px 2px 20px grey;
    padding: 15px 15px;
    overflow: hidden;
}
.player:hover img {
    transform: scale(1.15);
    transition: transform 2s;
}
.player .player-image img {
    width: 100%;
    height: 230px;
}
.player-details h1 {
    font-weight: bold;
    font-size: 28px;
    color: #18191f;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player:hover .player-details h1 {
    color: coral;
    transition: color 2s ease-in-out;
}
.player-details p {
    font-size: 16px;
    color: #6c6c6c;
    margin-top: 0px;
    margin-bottom: 33px;
}

/* Female-players-styles */
.top-female {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(245, 214, 214);
    margin: 50px;
}
.top-female h1 {
    color: indianred;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.female-players {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    padding-bottom: 50px;
}
.fem-player {
    width: 320px;
    box-shadow: 2px 2px 20px rgb(241, 201, 197);
    border-radius: 10px;
    padding: 10px 10px;
    overflow: hidden;
}
.fem-player img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
.fem-player:hover img {
    transform: scale(1.1);
    transition: transform 2s;
}
.fem-player h2 {
    color: salmon;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* table tyles */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}
hr {
    width: 75%;
    margin-left: 170px;
}
/* top-news styles */
.top-news h1 {
    color: indianred;
    font-size: 30px;
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.all-news {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.news {
    position: relative;
    width: 320px;
    height: 450px;
    box-shadow: 2px 2px 20px grey;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 30px;
    overflow: hidden;
}
.news .news-image img {
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
}
.news:hover img {
    transform: scale(1.1);
    transition: transform 2s;
}
.news-details h2 {
    font-weight: bolder;
    font-size: 25px;
    color: #18191f;
    margin-top: 16px;
    margin-bottom: 10px;
}
.news:hover .news-details h2 {
    color: indianred;
}
.news-details i {
    position: absolute;
    left: 86px;
    bottom: 20px;
}
.fa-clock {
    font-size: 20px;
}
/* footer styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.logo img {
    width: 480px;
    height: 110px;
}
.fab {
    width: 32px;
    height: 32px;
    color: grey;
}
/* Media-Queries */
/* Mobile responsive */
@media only screen and (max-width: 688px) {
    /* welcome-page */
    .welcome-page {
        flex-direction: column;
    }
    .welcome-intro {
        width: 95%;
        top: 112px;
        left: 16px;
    }
    .intro {
        width: 100%;
    }
    .intro h1 {
        width: 100%;
        font-size: 36px;
        font-weight: bold;
        line-height: 50px;
        margin-bottom: 0px;
    }
    .banner img {
        top: 220px;
        left: 15px;
        width: 329px;
        height: 259px;
    }
    /* players-profile */
    .players {
        grid-template-columns: repeat(1, 1fr);
    }
    /* female-profile */
    .top-female {
        margin: 20px;
    }
    .female-players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .fem-player {
        width: 90%;
        margin-left: 15px;
    }
    hr {
        width: 65%;
        margin-left: 65px;
        margin-top: 20px;
        border: 1px solid black;
    }
    /* top-news */
    .top-news {
        display: flex;
        justify-content: center;
    }
    .all-news {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .news {
        width: 90%;
        margin-bottom: 20px;
        margin-left: 19px;
    }
    /* footer styles */
    footer {
        width: 100%;
    }
    .logo img {
        width: 280px;
        height: 80px;
    }
}
/* Ipad responsive */
@media only screen and (min-width: 688px) and (max-width: 1024px) {
    /* welcome-page */
    .welcome-page {
        height: 600px;
    }
    .welcome-intro {
        top: 177px;
        left: 30px;
    }
    .intro {
        width: 80%;
    }
    .intro h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .banner img {
        top: 160px;
        left: 5px;
        width: 360px;
        height: 300px;
    }
    /* players-profile */
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    /* female-profile */
    .top-female {
        margin: 20px;
    }
    .female-players {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .fem-player {
        width: 90%;
        margin-left: 15px;
    }
    hr {
        width: 80%;
        margin-left: 80px;
        margin-top: 20px;
        border: 1px solid black;
    }
    /* top-news */
    .top-news {
        display: flex;
        justify-content: center;
    }
    .all-news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .news {
        width: 90%;
        margin-bottom: 20px;
        margin-left: 19px;
    }
    /* footer styles */
    footer {
        width: 100%;
    }
    .logo img {
        width: 350px;
        height: 100px;
    }
}
